.wrap {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  width: 100%;
  &__output {
    position: relative;
    padding: 5px 10px;
    background-color: slateblue;
    color: snow;
    border-radius: 10px 3px 10px 0;
    margin-right: 15px;
    &::before {
      content: "";
      position: absolute;
      height: 20px;
      width: 20px;
      background-color: slateblue;
      right: 0;
      top: 50%;
      transform: translateX(30%) translateY(-50%) rotateZ(45deg);
      z-index: -1;
    }
  }
}
.input {
  background-color: #2d2d2d;
  position: relative;
  height: 10px;
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: transparent;
  border-radius: 5px;
  cursor: pointer;
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: slateblue;
    box-shadow: 0 0 3px #000;
    &:active {
      background-color: rgb(123, 108, 219);
      box-shadow: 0 0 3px #000, 0 0 10px 1px #000;
    }
  }
}
