@import "../../scss/mixins";

.displaysettings {
  @include commonStylesForDisplay;
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  &__checkbox {
    margin: 10px;
  }
}
@media (max-width: 450px) {
  .displaysettings {
    margin: 0;
    padding: 10px;
    box-shadow: none;
  }
}
@media (max-width: 320px) {
  .displaysettings {
    padding: 2px;
    &__checkbox {
      margin: 5px;
    }
  }
}
