@import "../../scss/mixins";

.displaysettings {
  @include commonStylesForDisplay;
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
}
