@import "../../scss/mixins";

.displaypassword {
  @include commonStylesForDisplay;
  @include fontPoppins;
  min-height: 170px;
  span:first-child {
    margin-left: 10px;
  }
  span {
    display: inline-block;
    letter-spacing: 0.1em;
  }
}
