@import "../../scss/mixins";

.displaypassword {
  @include commonStylesForDisplay;
  @include fontPoppins;
  min-height: 170px;
  height: 100%;
  display: flex;
  flex-direction: column;
  &__symbols {
    flex: 1 0 auto;
    span:first-child {
      margin-left: 10px;
    }
    span {
      display: inline-block;
      letter-spacing: 0.1em;
    }
  }
  &__group {
    padding: 3px 0;
    padding-top: 5px;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    button {
      margin: 1px 5px;
    }
  }
  &__input {
    display: inline-block;
    flex-grow: 1;
    margin: 0 50px;
  }
}
