.boxdisplay {
  max-height: 530px;
  max-width: 970px;
  padding: 10px;
  width: 100%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
