.app {
  display: flex;
  flex-direction: column;
  height: 100%;
  &__wrap {
    padding-top: 70px;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex: 1 0 auto;
  }
  &__footer {
    flex-basis: 1;
  }
}
@media (max-width: 690px) {
  .app {
    padding-top: 10px;
  }
}
@media (max-width: 500px) {
  .app {
    padding-top: 5px;
  }
}
